

body{
	text-align: center;
}

h1{
	font-size: 72px;
	color:white;
}
header{
	background-color:orange;
}

p{
	font-size: 20px;
}

#main-footer{
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}